header{
  display: flex;
  background-color: peachpuff;
  justify-content: center;
}
main{
  display: flex;
  background-color: #495E57;
  justify-content: left;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 10em;

}
main div{
  width: 100em;
}
nav{
  background-color: white;
  font-size: 20pt;
}
nav li {
  display: inline;
  margin-left: 1em;
  justify-content: center;
  text-align: center;
  align-self: center;
  font-size: 20pt;
  font-family: 'Karla',sans-serif;
}
ul{
  list-style-type: none;
  text-align: center;
  align-self: center;
  justify-content: center;
  font-family: 'Karla',sans-serif;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
ul a{
  font-size: 20pt
}
a{
  text-decoration: none;
  font-size: 16pt;
  font-weight: bold;
  color: black;
}
footer{
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
footer p{
  font-size: 25pt;
  margin-left: 10em;
  align-self: center;
  
}
h1{
  font-size: 30pt;
  font-family: 'Markezi',serif;
  color: #F4Ce14;
}
h2{
  font-size: 20pt;
  font-family: 'Markezi',serif;
  color: white;
}
p{
  font-size: 15pt;
  font-family: 'Karla',sans-serif;
  color:white;
}
p li{
  margin-top: 25pt;
}
div h1,h2,p{
  text-align: left;
}
input,select{
  width: 15rem;
  height: 3rem;
  text-align: center;
  border-radius: 5em;
  font-size: 1.5rem;
  font-weight: bold;
}

/*CLASS CSS STYLING*/
.form-grid{
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

/*ID CSS STYLING*/

#logo{
  width: 10rem;
  margin-right: 20em;
  border: 5px solid #495E57;
  padding: 30px;
}
#footer-logo{
  width: 100pt;
  height: 150pt;
  align-self: center;
  padding-left: 10em;
}
#contact-information{
  text-align: left;
  font-size: 15pt;
  font-weight: bold;
}
main div{
  align-self: center;
}
#chef{
  width: 350pt;
  height: 250pt;
  border-radius: 10pt;
  margin-left: 10em;
}
#copyright{
  color:black;
  font-weight: bold;
  font-family: 'Markezi',serif;
}
#background{
  display: flex;
  background-color: #495E57;
  justify-content: left;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 20em;
}
#background p{
  width: 50em;
}
#background div{
  padding-right: 25em;
}
#submit_reservation{
  background-color: #495E57;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

#food{
  border-radius: 16pt;
}
